<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css"> <!-- Thêm link đến file CSS của bạn -->
    <title>Menu Example</title>
</head>
<body>

    <div class="container-fluid bg-white">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="row w-100">
                <div class="col-md-3 logo">
                    <a class="navbar-brand" href="~/MainHome/IndexMain">
                        <img src="~/Image/icons8-moto-64.png" alt="logo" class="img-fluid" style="width: 200px; height: 200px" />
                    </a>
                </div>
                <div class="col-md-6" style="margin-top: 50px;">
                    <ul class="navbar-nav" style="font-size: 25px;">
                        <li class="nav-item">
                            <a class="nav-link" href="~/MainHome/IndexMain">
                                <img src="~/Image/Home.png" style="width:25px;height:25px;" />&nbsp; TRANG CHỦ
                            </a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">

                            <a class="nav-link" href="~/MainHome/XeMayMain">
                                <img src="~/Image/iconmoto.png" style="width:25px;height:25px;" />&nbsp; TẤT CẢ XE
                            </a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link" href="https://autopro.com.vn/gia-xe-may.htm">
                                <img src="~/Image/contact.png" style="width:25px;height:25px;" /> &nbsp;TIN TỨC XE
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-right" style="margin-top: 50px;">
                    <button class="btn btn-outline-success" type="button"><a href="~/MainHome/DangKyTK" class="text-black"><img src="~/Image/dangky.png" style="width:20px;height:20px;" />Đăng Ký</a></button>
                    <button class="btn btn-outline-success" type="button">
                        <a href="~/MainHome/DangNhapTK" class="text-black"> <img src="~/Image/download.png" style="width:20px;height:20px;" />Đăng Nhập</a>
                    </button>
                    

                </div>
            </div>
           
        </nav>
    </div>

    <!-- Thêm nội dung của trang web ở đây -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
